{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object.name }}{% endblock %}
{% block scriptHeader %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/b-html5-1.6.2/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/b-html5-1.6.2/datatables.min.js"></script>
{% endblock scriptHeader %}

{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">{{ object.lib_code.lib_name}}, {{ object.shelfmark }}</h2>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "lib_code" %}
                            </th>
                            <td>
                                <a href="{{ object.lib_code.get_absolute_url }}">
                                  {{ object.lib_code }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "ms_code" %}
                            </th>
                            <td>
                                {{ object.ms_code }}
                            </td>
                        </tr>
                        <tr>
                          <th>
                              orig data
                          </th>
                          <td>
                              {{ object.orig_data_csv }}
                          </td>
                      </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "shelfmark" %}
                            </th>
                            <td>
                              {{ object.shelfmark }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "heading" %}
                            </th>
                            <td>
                              {{ object.heading }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "material" %}
                            </th>
                            <td>
                              <a href="{{ object.material.get_absolute_url}}">{{ object.material.legacy_id }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "num_leaves" %}
                            </th>
                            <td>
                              {{ object.num_leaves }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "dimensions" %}
                            </th>
                            <td>
                              {{ object.dimensions }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "origin_date" %}
                            </th>
                            <td>
                              {{ object.origin_date }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "prov" %}
                            </th>
                            <td>
                              {{ object.prov }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "fragm" %}
                            </th>
                            <td>
                              {{ object.fragm }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "hscensus" %}
                            </th>
                            <td>
                              {{ object.hscensus }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "remarks" %}
                            </th>
                            <td>
                              {{ object.remarks }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name manuscript "geschichte" %}
                            </th>
                            <td>
                              {{ object.geschichte }}
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="card-header">
                    <h4 class="card-title">MSDesc</h4>
                </div>
                <div class="card-body">
                  {% for x in object.rvn_msdesc_manuscript_manuscript.all %}
                    <table class="table table-bordered table-hover">
                      <tr>
                        <th>phys_desc</th>
                        <td>{{ x.phys_desc|safe}}</td>
                      </tr>
                      <tr>
                        <th>content</th>
                        <td>{{ x.content|safe }}</td>
                      </tr>
                      <tr>
                        <th>Verfasser*in</th>
                        <td>{{ x.verfasser}}, {{ x.created}}</td>
                      </tr>
                    </table>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Initien</h4>
                </div>
                <div class="card-body">

                    <div style="padding:0;">

                      <table class="table table-bordered table-hover" id="example">
                          <thead>
                            <tr>
                                <th>
                                  Folio
                                </th>
                                <th>
                                  Initium
                                </th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for x in object.rvn_initium_manuscript_manuscript.all %}
                              <tr>
                                <td><a href="{{ x.get_absolute_url }}">{{ x.fol }}</a></td>
                                <td>
                                  {{ x.initium }}
                                  {% if x.werk %} <br />
                                  <small>Werk: {{ x.werk }}</small>
                                  {% endif %}
                                </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>

                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Texte</h4>
                </div>
                <div class="card-body">

                    <div style="padding:0;">

                      <table class="table table-bordered table-hover" id="texte">
                          <thead>
                            <tr>
                                <th>
                                  Folio
                                </th>
                                <th>
                                  Titel
                                </th>
                                <th>
                                  Autor
                                </th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for x in object.rvn_werkinstanz_manuscript_manuscript.all %}
                              <tr>
                                <td>
                                  <a href="{{ x.get_absolute_url }}">{{ x.fol_start }}</a>
                                </td>
                                <td>
                                  {{ x.werk_titel }}
                                  {% for y in x.rvn_initium_werk_werkinstanz.all %}
                                  <li>{{ y.initium }}</li>
                                  {% endfor %}
                                </td>
                                <td><a href="{{ x.autor.get_absolute_url }}">{{ x.autor }}</a></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Literatur zur Handschrift</h3>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-hover" id="example1">
                  <thead>
                    <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          Zitat
                        </th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for x in object.rvn_zitat_manuscript_manuscript.all %}
                      <tr>
                        <td>
                          <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </td>
                        <td>
                          {{ x.literatur.vollzitat }} {{ x.kz_ms }}
                          {% for y in x.literatur.rvn_weblit_literatur_literatur.all %} <a href="{{ y }}">online</a>{% endfor%}
                        </td>
                      {% endfor %}
                  </tbody>
              </table>

            </div>
        </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#example').DataTable({
          "pageLength": 50,
          dom: 'Bfrtip',
          buttons: [
            'copy', 'csv'
          ],
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
          }
        });

        $('#example1').DataTable({
          "pageLength": 50,
          dom: 'Bfrtip',
          buttons: [
            'copy', 'csv'
          ],
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
          }
        });
        $('#texte').DataTable({
          "pageLength": 50,
          dom: 'Bfrtip',
          buttons: [
            'copy', 'csv'
          ],
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/German.json"
          }
        });

      } );
    </script>
{% endblock custom %}
