Django>=5.0.6,<6
django-autocomplete-light
django-crispy-forms
acdh-django-browsing==2.0
django-extensions
django-filter
django-leaflet
django-next-prev>=1.1.0,<2
django-super-deduper
django-tables2
djangorestframework
lxml
pandas
psycopg2-binary
python-dateutil
rdflib
requests
tqdm
xlrd
black
flake8
sqlalchemy
pymysql