acdh-django-charts
acdh-django-netvis
Django>=5.0.6,<6
django-autocomplete-light
django-crispy-forms
django-extensions
django-filter
django-leaflet
django-reversion
django-super-deduper
django-tables2
djangorestframework
lxml
pandas
psycopg2-binary
python-dateutil
rdflib
requests
xlrd
black
flake8
sqlalchemy
pymysql